<h2>Registro</h2>

<form (ngSubmit)="registrar()">

  <label>Email:</label>
  <input [(ngModel)]="email" name="email"><br>

  <label>Nombre:</label>
  <input [(ngModel)]="nombre" name="nombre"><br>

  <label>Contraseña:</label>
  <input [(ngModel)]="contrasenia" name="contrasenia" type="password"><br>

  <label>Apellido:</label>
  <input [(ngModel)]="apellido" name="apellido"><br>

  <label>Direccion:</label>
  <input [(ngModel)]="direccion" name="direccion"><br>

  <button type="submit">Registrarse</button>
</form>

<p>{{ mensaje }}</p>

