<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Parisienne&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
  <div class="main-container">
    <app-header></app-header>

    <div class="productos-container">

      <!-- FILTROS -->
      <div class="filtros-sidebar">
        <h4>Filtrar productos</h4>

        <button (click)="filtrarPrecioDesc()">🔺 Mayor precio</button>
        <button (click)="filtrarPrecioAsc()">🔻 Menor precio</button>
        <button (click)="borrarFiltros()">❌ Borrar filtros</button>


        <div>
          <label for="categoria">Categoría:</label>
          <select id="categoria" [(ngModel)]="categoriaSeleccionada" (change)="onCategoriaChange()">
            <option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</option>
          </select>
        </div>
      </div>

      <main class="contenido-productos">
        <div *ngIf="nombreBuscado" class="resultado-busqueda">
          <p>Resultados de "<strong>{{ nombreBuscado }}</strong>"</p>
        </div>
        <div *ngIf="categoriaSeleccionada" class="resultado-busqueda">
          <p *ngIf="categoriaNombre">Categoría: {{ categoriaNombre }}</p>
        </div>

        <!-- PRODUCTOS -->
        <div class="grid-productos">
          <div *ngFor="let p of productos" class="card-producto">
            <a [routerLink]="['/vista-producto', p.id]">
              <img [src]="'images/productos/' + p.url" [alt]="p.nombre" />
            </a>

            <h5>{{ p.nombre }}</h5>
            <p>Precio: ${{ p.precio }}</p>
            <button
              [ngClass]="{ 'agregado': estadoBotones[p.id] }"
              (click)="agregarAlCarrito(p)">
              {{ estadoBotones[p.id] ? '¡Agregado!' : 'Agregar al carrito' }}
            </button>
          </div>
        </div>
      </main>
    </div>

    <app-carrito></app-carrito>
    <app-footer></app-footer>
  </div>
</body>
</html>



