/* BUSCADOR */
.buscador-wrapper {
  position: relative;
  width: 50px;
  transition: width 0.4s ease;
  margin-left: 10px;
}

.buscador-wrapper:hover,
.buscador-wrapper.open {
  width: 300px;
}

.search-container {
  position: relative;
  height: 40px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.search-input {
  flex: 1;
  padding: 10px 12px 10px 10px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  outline: none;
  min-width: 0;
}

.search-container:hover .search-icon,
.buscador-wrapper.open .search-icon {
  filter: brightness(0.5);
}

.search-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  flex-shrink: 0;
  cursor: pointer;
  transition: filter 0.3s ease;
}

/* SUGERENCIAS */
.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fffaf5;
  border: 1px solid #e4dcd2;
  border-top: none;
  border-radius: 0 0 16px 16px;
  padding: 8px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 5; /* 👈 más bajo que el carrusel */
}

.suggestions::-webkit-scrollbar {
  width: 8px;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: #c2b8ae;
  border-radius: 10px;
}

.suggestions::-webkit-scrollbar-track {
  background: #f4eee7;
  border-radius: 10px;
}

.suggestion-item {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.suggestion-item:hover {
  background-color: #f0e6dd;
}

.suggestion-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd0c4;
  padding: 4px; /* Este padding da espacio dentro del borde */
  background-color: #fff;
}

.suggestion-item span {
  font-size: 15px;
  color: #2c2c2c;
}

.suggestion-item span:last-child {
  margin-left: auto;
  font-weight: 500;
  color: #836d59;
}
