.sugerencias {
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  width: 300px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.sugerencia-item {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}

.sugerencia-item:hover {
  background-color: #f1f1f1;
}

.sugerencia-item img {
  margin-right: 10px;
  object-fit: cover;
  border-radius: 4px;
}
