<div class="search-container">
  <input
    type="text"
    class="search-input"
    placeholder="Buscar perfume..."
    [(ngModel)]="searchQuery"
    (input)="onSearchChange()"
  />
  <div class="suggestions" *ngIf="filteredResults.length > 0">
    <div
      class="suggestion-item"
      *ngFor="let item of filteredResults"
      (click)="selectProduct(item)"
    >
      <img [src]="'/images/productos/' + item.url" [alt]="item.nombre" />
      <span>{{ item.nombre }}</span>
      <span>{{ item.precio | currency }}</span>
    </div>
  </div>
</div>
