* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background:  #f6f0e8;
}

/* CARROUSEL */
app-carrousel {
  position: relative;
  width: 90%;
  max-width: 1050px;
  height: 350px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1;
}

/* BOTONES */
.botones-home {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

.botones-home button {
  background-color: #a98a6a;
  color: #fff;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botones-home button:hover {
  background-color: #8c7154;
}

.boton-categoria {
  min-width: 80%;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  height: 140px;
  font-size: 1.3rem;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

.boton-categoria:hover {
  transform: translateY(-4px);
  background-color: rgba(0, 0, 0, 0.2); /* más oscuro al pasar el mouse */
}

.fondo-perfumes {
  background-image: url('/images/boton-perfumes.png');
}

.fondo-maquillaje {
  background-image: url('/images/boton-maquillaje.png');
}

.fondo-universo {
  background-image: url('/images/boton-universo.png');
}

/* TITULO RECOMENDADOS */
.separador-recomendados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.titulo-recomendados {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.ver-todo-link {
  font-size: 16px;
  font-weight: 500;
  color: #5a422e;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.ver-todo-link:hover {
  color: #a98a6a;
}

/* Línea fina debajo */
.linea-separadora {
  border: none;
  border-top: 1.5px solid #333;
  margin: 0 30px 30px 30px;
}



