<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Aura Beauty - Perfumes</title>
</head>
<body>
  <header class="main-header">
    <img src="images/logo-aura-beauty.png" class="logo" alt="Logo AB"/>

    <!-- BUSCADOR -->
    <app-buscador></app-buscador>


    <div class="icons">
      <button class="profile-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ded0c2" viewBox="0 0 24 24">
          <path d="M12 12c2.7 0 4.9-2.2 4.9-4.9S14.7 2.2 12 2.2 7.1 4.4 7.1 7.1 9.3 12 12 12zm0 2.4c-3.3 0-9.8 1.7-9.8 5v2.4h19.6v-2.4c0-3.3-6.5-5-9.8-5z"/>
        </svg>
      </button>
    </div>

    <button (click)="logout()" class="btn btn-danger">
      Cerrar sesión
    </button>


  </header>

  <app-carrousel class="carrousel"></app-carrousel>

  <div class="category-buttons">
    <button class="category-btn perfumes" (click)="irAPerfumes()">
      <span>Perfumes Árabes</span>
    </button>

    <button class="category-btn cosmetica">
     <button class="category-btn cosmetica">
      <span>Cosmeticos</span>
    </button>
    </button>
  </div>

<div id="carouselMasVendidos" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let producto of masVendidos; let i = index"
      [class.active]="i === 0"
    >
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ producto.nombre }}</h5>
        <p>{{ producto.descripcion }}</p>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselMasVendidos"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Anterior</span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselMasVendidos"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
  <!-- <main class="main-content">
    <button class="filter-btn"><i class="fas fa-chevron-down"></i>Filtrar por</button>

    <section class="products-grid">
       Repetí esta card para cada perfume
      <div class="product-card">
        <img src="" alt="Perfume 1"/>
      </div>
      <div class="product-card">
        <img src="" alt="Perfume 2"/>
      </div>
      ...más productos
    </section>
  </main> -->
</body>
</html>
