<!DOCTYPE html>
<html lang="es" class="vh-100" style="background-color: #DFCFC2;">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Aura Beauty</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Parisienne&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
  <!-- HEADER CON BUSCADOR INCLUIDO -->
  <app-header></app-header>

  <!-- CARROUSEL -->
  <app-carrousel class="carrousel"></app-carrousel>

  <div class="d-flex justify-content-center align-items-center">
    <button class="btn fw-bold p-2 w-25" style="background-color: #836d59; font-family: Montserrat;" (click)="irAProductos()">
      Ver todos los productos
    </button>
  </div>

  <!-- CARRITO -->
  <app-carrito></app-carrito>

  <!-- FOOTER -->
  <app-footer></app-footer>

</body>
</html>
