* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background:  #DFCFC2;
}

/* CARROUSEL */
app-carrousel {
  position: relative;
  width: 90%;
  max-width: 1050px;
  height: 350px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #f1f1f1;
}

/* BOTONES */
.category-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
}

.category-btn {
  position: relative;
  width: 260px;
  height: 100px;
  border: none;
  margin-bottom: 20px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform 0.3s ease;

  span {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    /*background-color: rgba(0, 0, 0, 0.5);*/
  }

  &:hover {
    transform: scale(1.05);
  }
}

.perfumes {
  background: #b08c6f;
}

