<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalle del Producto</title>
  <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Parisienne&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Montserrat&display=swap" rel="stylesheet" />
</head>

<body>

  <app-header></app-header>

  <main class="producto-detalle" *ngIf="producto">

    <!-- Imagen con fondo -->
    <div class="imagen-con-fondo">
      <img
        [src]="'images/productos/' + producto.url"
        [alt]="producto.nombre"
      />
    </div>

    <!-- Información del producto -->
    <div class="info-producto">
      <h6>{{ producto.marca }}</h6>
      <h2>{{ producto.nombre }}</h2>
      <h3>${{ producto.precio }}</h3>

      <button
        [ngClass]="{ 'agregado': estadoBotones[producto.id] }"
        (click)="agregarAlCarrito(producto)">
        {{ estadoBotones[producto.id] ? '¡Agregado!' : 'Agregar al carrito' }}
      </button>

      <p>{{ producto.descripcion }}</p>
      <p><strong>Clasificación:</strong> {{ producto.genero.nombre }}</p>
    </div>

  </main>

  <app-carrito></app-carrito>
  <app-footer></app-footer>

</body>

</html>
